:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    padding: 20px;
    color: #f9f9f9;
}

header {
    background: #292b31;
    padding: 20px;
    color: #fff;
}

.sidebar {
    background: #292b31;
    padding: 20px;

    a {
        color: #fff;
    }
}